body #homepage {
  padding-top: 1rem;
}
.starter-template {
  padding-bottom: : 4rem;
  text-align: center;
}

.row {
  padding-top: 4rem;
}

#homepage {
  background-color:rgb(128, 64, 0);
  text-align: center;
  font-family: "arial";
  color: white;
  padding-bottom: 5rem;
}

h2 {
  font-size: 17px;
}

#alsoo {
  font-size: 17px;
}

#factsec{
font-size: 18px;
}

#clicks{
  font-size: 15px;
}

h3 {
  font-size: 35px;
}

.tabgall{
  padding-top: 2rem;
}

.starter-template{
  padding-top: 3rem;
}

#mapc {
    display:flex;
    padding: 60px;
    margin: 0 auto;
    border-radius: 60px 130px 60px 130px
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(20, 0, 20);
   color: white;
   text-align: center;
   font-size: 18px;
}

#About {
  background-color:rgb(128, 64, 0);
  text-align: center;
  font-family: "arial";
  color: white;
  padding-bottom: 5rem;
}

#myVideo{
  padding-top: 10rem;
}

#navbar {
  overflow: hidden;
  background-color: rgb(20,0,20);
  padding: 60px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  font-family: "Times New Roman", Times, serif;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  color: white;
}

#navbar a:hover {
  color:rgb(200,50,70);
}

#navbar a.active {
  background-color: rgb(255, 255, 255);
  color: grey;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 10px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }

  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
  }
}



.containerA {
  position:relative;
  width: 30%;
  padding-bottom: 3rem;
  padding-left: 10rem;
}

.containerL {
  position: relative;
  width: 30%;
  padding-right: 10rem;
}

.image {
  display: block;
  width: 50%;
  height:inherit;
  padding-bottom: 10rem;

}

.overlayL {
  position:absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlayA {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlayA {
  width: 100%;
  left: 0;
}

.container:hover .overlayL {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}



#L {
  font-family:times;
  font-style: italic;
  color:grey;
  padding-top: 3rem;
}

#A {
  padding-top: 5rem;
}


.tabgall .column{
  float: left;
  width: 14.285%;
  padding: 10px;
}
.tabgall .column img {
  opacity: 0.8;
  cursor: pointer;
}
.tabgall .column img:hover{
  opacity: 1;
}
.tabgall .row:after {
  content: "";
  display: table;
  clear: both;
}
.tabgall .container {
  position: relative;
  display: none;

}
#imgtext {
  position: absolute;
  top: 15px;
  left: 585px;
  color: white;
  font-size: 30px;
  font-family: astronomical;
}

/* Closable button inside the expanded image */
.tabgall .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
